@model DBMS_Project.Models.Payment
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>Canteen Invoice</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
    	body{margin-top:20px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.invoice-container {
    padding: 1rem;
}
.invoice-container .invoice-header .invoice-logo {
    margin: 0.8rem 0 0 0;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #2e323c;
}
.invoice-container .invoice-header .invoice-logo img {
    max-width: 130px;
}
.invoice-container .invoice-header address {
    font-size: 0.8rem;
    color: #9fa8b9;
    margin: 0;
}
.invoice-container .invoice-details {
    margin: 1rem 0 0 0;
    padding: 1rem;
    line-height: 180%;
    background: #f5f6fa;
}
.invoice-container .invoice-details .invoice-num {
    text-align: right;
    font-size: 0.8rem;
}
.invoice-container .invoice-body {
    padding: 1rem 0 0 0;
}
.invoice-container .invoice-footer {
    text-align: center;
    font-size: 0.7rem;
    margin: 5px 0 0 0;
}

.invoice-status {
    text-align: center;
    padding: 1rem;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.invoice-status h2.status {
    margin: 0 0 0.8rem 0;
}
.invoice-status h5.status-title {
    margin: 0 0 0.8rem 0;
    color: #9fa8b9;
}
.invoice-status p.status-type {
    margin: 0.5rem 0 0 0;
    padding: 0;
    line-height: 150%;
}
.invoice-status i {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    display: inline-block;
    padding: 1rem;
    background: #f5f6fa;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.invoice-status .badge {
    text-transform: uppercase;
}




.custom-table {
    border: 1px solid #e0e3ec;
}
.custom-table thead {
    background: #007ae1;
}
.custom-table thead th {
    border: 0;
    color: #ffffff;
}
.custom-table > tbody tr:hover {
    background: #fafafa;
}
.custom-table > tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}
.custom-table > tbody td {
    border: 1px solid #e6e9f0;
}


.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.text-success {
    color: #00bb42 !important;
}

.text-muted {
    color: #9fa8b9 !important;
}

.custom-actions-btns {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.custom-actions-btns .btn {
    margin: .3rem 0 .3rem .3rem;
}
    </style>
</head>
<body>
<div class="container">
<div class="row gutters">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="card">
<div class="card-body p-0">
<div class="invoice-container">
<div class="invoice-header">

<div class="row gutters">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
<div class="custom-actions-btns mb-5">
 <a href="@Url.Action("DownloadPdf", new { id = Model.Id })" class="btn btn-primary">
<i class="icon-download"></i> Download
</a>

</div>
</div>
</div>


<div class="row gutters">
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
<a href="index.html" class="invoice-logo">
JAMIA CANTEEN
</a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<address class="text-right">
JAMIA MILLIA ISLAMIA,         
Jamia Nagar,Okhla,
New Delhi.<br>
110025
</address>
</div>
</div>


<div class="row gutters">
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="invoice-details">
<address>
@User.Identity?.Name<br>
Transaction ID :  @Model.TransactionId
</address>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="invoice-details">
<div class="invoice-num">
<div>CUSTOMER ID : @Model.UserId </div>
<div>DATE : @Model.PaymentDateTime</div>
</div>
</div>
</div>
</div>

</div>
<div class="invoice-body">

<div class="row gutters">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="table-responsive">
<table class="table custom-table m-0">
<thead>
<tr>
<th>Items</th>
<th>UNIT PRICE</th>
<th>Quantity</th>
<th>Sub Total</th>
</tr>
</thead>
<tbody>
 @foreach (var item in Model.ItemsJson.Split(","))

 {
     string[] itemParts = item.Split("-");
     // Extract item name and quantity
     string[] nameAndQuantity = itemParts[0].Split(" : ");
     string itemName = nameAndQuantity[0];
     int itemQuantity = int.Parse(nameAndQuantity[1]);

     // Extract location
     string location = itemParts[1].Substring("LOCATION: ".Length);

     // Extract price
     string priceString = itemParts[2].Substring("PRICE: ".Length);
    double price = double.Parse(priceString.Trim('$'));
         <tr>
             <td>
                 @itemName
                 <p class="m-0 text-muted">
                     LOCATION : @location
                 </p>
             </td>
             <td>@price</td>
             <td>@itemQuantity</td>
             <td>@(itemQuantity * price)</td>
         </tr>
     }
 

 <tr>
<td>&nbsp;</td>
<td colspan="2">

<h5 class="text-success"><strong>Grand Total</strong></h5>
</td>
<td>

<h5 class="text-success"><strong>@Model.TotalAmount</strong></h5>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>
<div class="invoice-footer">
Thank you for your Business.
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>